<div style="text-align: center;" id="page">

</div>
<script>
  layui.use('laypage', function(){
    var laypage = layui.laypage;
    //执行一个laypage实例
    laypage.render({
      elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
      count: "{$pages->total()}", //数据总数，从服务端得到
      curr:"{$pages->currentPage()}",
      limit:"{$pages->listRows()}",
      groups:10,
      jump: function(obj, first) {
        if(!first){
          location.href="?page="+ obj['curr'];
        }
      }
    });
  });
</script>