{extend name="base" /}
{block name="title"}
<title>修改后台栏目</title>
{/block}
{block name="css"}
<style>
    .padding-bm10{
        padding-bottom: 10px;
    }

</style>
{/block}
{block name="body"}
<div class="x-body">
    <div id="xform" class="layui-form">
        <div class="layui-form-item">
            <span>根目录:</span>
            <select name="parent_id" id="parent_id" lay-verify="required">
                {volist name="rootMenus" id="rootMenu"}
                {if ($rootMenu.admin_menu_id==$menu.parent_id)}
                <option value="{$rootMenu.admin_menu_id}" selected>{$rootMenu.admin_menu_name}</option>
                {else /}
                <option value="{$rootMenu.admin_menu_id}">{$rootMenu.admin_menu_name}</option>
                {/if}
                {/volist}
            </select>
        </div>
        <div class="padding-bm10">
            <span>栏目名称:</span>
            <input type="text" name="admin_menu_name" value="{$menu.admin_menu_name}" id="admin_menu_name" placeholder="请输入栏目名称" autocomplete="off" class="layui-input">
        </div>
        <div class="padding-bm10">
            <span>控制器:</span>
            <input type="text" name="controller" value="{$menu.controller}" id="controller" placeholder="请输入控制器" autocomplete="off" class="layui-input">
        </div>
        <div class="padding-bm10">
            <span>方法:</span>
            <input type="text" name="action" value="{$menu.action}" id="action" placeholder="请输入方法" autocomplete="off" class="layui-input">
        </div>
        <button class="layui-btn" onclick="submitForm()">
            <i class="layui-icon">&#xe608;</i>修改
        </button>
    </div>
</div>
{/block}
{block name="js"}
<script>
  //验证表单
  function validateForm() {
    var parent_id = $("#parent_id").val();
    var admin_menu_name = $("#admin_menu_name").val();
    var controller = $("#controller").val();
    var action = $("#action").val();
    if(parent_id == ""){
      layer.msg('请选择根目录', {icon: 6,time:1500});
      return false;
    }else if (admin_menu_name == ""){
      layer.msg('请输入栏目名称', {icon: 6,time:1500});
      return false;
    }else {
      return {parent_id:parent_id,admin_menu_name:admin_menu_name,controller:controller,action:action};
    }
  }

  //提交数据
  function submitForm(){
    var data = validateForm();
    if (!data) return;
    $.ajax({
      type:'POST',
      url:"{:url('/adminmenu/update')}?id={$menu.admin_menu_id}",
      data:data,
      success:function (res) {
        var res = JSON.parse(res);
        if(res.code === 200){
          layer.msg(res.msg,{icon:1,time:1000});
          setTimeout("parent.location.reload();",1500);
        }else {
          layer.msg(res.msg,{icon:2,time:1000});
        }
      }
    });
  };
</script>
{/block}