{extend name="base" /}
{block name="title"}
<title>添加小程序栏目</title>
{/block}
{block name="css"}
<style>
    .padding-bm10{
        padding-bottom: 10px;
    }
    .img{
        width:100px;
        height:100px;
        padding: 10px;
        text-align: center;
        border: 1px #a7a7a7 dotted;
        margin-bottom: 10px;
    }

</style>
{/block}
{block name="body"}
<div class="x-body">
    <div id="xform" class="layui-form">
        <div class="padding-bm10">
            <span>标题:</span>
            <input type="text" name="title" id="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
        <div class="padding-bm10">
            <span>URL:</span>
            <input type="text" name="url" id="url" placeholder="请输入URL(例:/pages/index/index)" autocomplete="off" class="layui-input">
        </div>
        <div class="padding-bm10">
            <label>是否对外开放:</label>
            <div>
                <input type="radio" name="is_open" id="is-open" value="1" title="是" checked>
                <input type="radio" name="is_open" value="0" title="否" required>
            </div>
        </div>
        <div class="padding-bm10">
            <span>图标:</span>
            <div class="img" id="img">
                <img src="__STATIC__/images/upload.png" width="90px" height="90px" id="img-show">
                <input id="image" name="image" value="" type="hidden">
            </div>
        </div>
        <button class="layui-btn" onclick="submitForm()">
            <i class="layui-icon">&#xe608;</i>添加
        </button>
    </div>
</div>
{/block}
{block name="js"}
<script>
  //验证表单
  function validateForm() {
    var title = $("#title").val();
    var url = $("#url").val();
    var image = $("#image").val();
    var is_open = $("input[name='is_open']:checked").val();
    //验证url格式是否正确
    var reg = /^\/pages\/\w+\/\w+/;
    console.log(reg.test(url));
    if(title == ""){
      layer.msg('请输入标题', {icon: 6,time:1500});
      return false;
    }else if (url == ""){
      layer.msg('请输入URL', {icon: 6,time:1500});
      return false;
    }else if (!reg.test(url)){
      layer.msg('URL格式不正确', {icon: 6,time:1500});
      return false;
    }else if(image == ""){
      layer.msg('请选择图标', {icon: 6,time:1500});
      return false;
    }else {
      return {title:title,url:url,is_open:is_open,image:image};
    }
  }

  //提交数据
  function submitForm(){
    var data = validateForm();
    if (!data) return;
    $.ajax({
      type:'POST',
      url:"{:url('/appletmenu/add')}",
      data:data,
      success:function (res) {
        var res = JSON.parse(res);
        if(res.code === 200){
          layer.msg(res.msg,{icon:1,time:1000});
          setTimeout("parent.location.reload();",1500);
        }else {
          layer.msg(res.msg,{icon:2,time:1000});
        }
      }
    });
  };
</script>
<script>
  layui.use('upload', function(){

    var upload = layui.upload;
    //执行实例
    var uploadInst = upload.render({
      elem: '#img', //绑定元素
      size: 2048,
      exts:'jpg|png|gif|bmp|jpeg',
      auto: false,
      choose:function(obj){
        //将每次选择的文件追加到文件队列
        var files = obj.pushFile();

        //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
        obj.preview(function(index, file, result){
          //console.log(result); //得到文件base64编码，比如图片
          $("#img-show").attr('src',result);
          $("input[name='image']").val(result);
        });
      },
    });
  });
</script>
{/block}