{extend name="base" /}
{block name="title"}
<title>首页轮播图列表</title>
{/block}
{block name="css"}
<link rel="stylesheet" href="__STATIC__/zoom/zoom.css">
<style>

    .layui-laypage a, .layui-laypage span {
        height: 35px;
        line-height: 35px;
        font-size: 14px;
    }

    .layui-laypage-curr {
        font-size: 14px !important;
    }
</style>
{/block}
{block name="body"}
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:void(0);">商城管理</a>
        <a href="javascript:void(0);">首页轮播图列表</a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" id="applet_menu_add"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{$pages->total()} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i
                        class="layui-icon">&#xe605;</i></div>
            </th>
            <th>商品名称</th>
            <th>图片</th>
            <th>排序</th>
            <th>添加时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </thead>
        <tbody>
        {volist name="slide_shows" id="slide_show"}
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id={$slide_show.slide_id}><i
                        class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$slide_show.goods_name}</td>
            <td><img src="{$slide_show.image_url_320}"></td>
            <td id="sort">{$slide_show.sort}</td>
            <td>{$slide_show.create_time | date="Y-m-d H:i:s"}</td>
            <td>{$slide_show.update_time | date="Y-m-d H:i:s"}</td>
            <td class="td-manage">
                <a title="排序" onclick="sort(this,{$slide_show.slide_id})" href="javascript:;">
                    <i class="layui-icon">&#xe619;</i>
                </a>
                <a title="编辑" onclick='x_admin_show("修改首页轮播图","/slideshow/update?id={$slide_show.slide_id}")' href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick="delOne(this,{$slide_show.slide_id})" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
{/block}
{block name="js"}
<script>

  //点击添加首页轮播图
  $("#applet_menu_add").on('click',function () {
    x_admin_show('首页轮播图','/slideshow/add');
  })

  // 排序
  function sort(obj,id){
    layer.prompt({title: '当前最大排序值为'+'{$max_sort}', formType: 0}, function(text, index){
      layer.close(index);
      //判断是否输入数字
      if(parseFloat(text).toString() != "NaN"){
        //发异步删除数据
        $.ajax({
          url: "{:url('/slideshow/sort')}?id=" + id +"&sort="+text,
          type: 'GET',
          success:function (res) {
            var res = JSON.parse(res);
            console.log(res);
            if(res.code === 200){
              //捉到所有被选中的，发异步进行删除
              layer.msg(res.msg,{icon:1,time:1000});
              setTimeout("location.reload();",1500);
              //$(obj).parents("tr").remove();
            }else {
              layer.msg(res.msg, {icon: 2,time:1000});
            }
          }
        });
      }else {
        layer.msg('请输入数字!',{icon:5,time:1500});
      }

    });

  }

  /*单个删除*/
  function delOne(obj,id){
    layer.confirm('确认要删除吗？',function(index){
      //发异步删除数据
      $.ajax({
        url: "{:url('/slideshow/delete')}?ids=" + id,
        type: 'GET',
        success:function (res) {
          var res = JSON.parse(res);
          if(res.code === 200){
            //捉到所有被选中的，发异步进行删除
            layer.msg(res.msg,{icon:1,time:1000});
            setTimeout("location.reload();",1000);
            //$(obj).parents("tr").remove();
          }else {
            layer.msg(res.msg, {icon: 1,time:1000});
          }
        }
      });
    });
  }

  //批量删除
  function delAll (argument) {
    var data = tableCheck.getData();
    layer.confirm('确认要删除吗？',function(index){
      $.ajax({
        url: "{:url('/slideshow/delete')}?ids=" + data,
        type: 'GET',
        success:function (res) {
          var res = JSON.parse(res);
          console.log(res);
          if(res.code === 200){
            //捉到所有被选中的，发异步进行删除
            layer.msg(res.msg, {icon: 1,time:1000});
            setTimeout("location.reload();",1000);
            //$(".layui-form-checked").not('.header').parents('tr').remove();
          }else {
            layer.msg(res.msg, {icon: 1,time:1000});
          }
        }
      });
    });
  }
</script>
<![endif]-->
{/block}