{extend name="base" /}
{block name="title"}
<title>修改热销商品</title>
{/block}
{block name="css"}
<style>
    .padding-bm10{
        padding-bottom: 10px;
    }
</style>
{/block}
{block name="body"}
<div class="x-body">
    <div id="xform" class="layui-form">
        <div class="padding-bm10">
            <span>商品:</span>
            <div style="margin-top: 10px;">
            <div class="layui-input-inline">
                <select name="goods_cate_id" id="goods_cate_id" lay-filter="goods_cate_id" lay-verify="required">
                    {volist name="goods_cates" id="goods_cate"}
                    <option value="{$goods_cate.goods_cate_id}" {if $goods_cate.goods_cate_id==$goods_hot.goods_cate_id}selected{/if}>{$goods_cate.goods_cate_name}</option>
                    {/volist}
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="goods_id" id="goods_id" lay-verify="required">
                    {volist name="goods" id="good"}
                    <option value="{$good.goods_id}" {if $good.goods_id==$goods_hot.goods_id}selected{/if}>{$good.goods_name}</option>
                    {/volist}
                </select>
            </div>
            </div>
        </div>
        <button class="layui-btn" onclick="submitForm()">
            <i class="layui-icon">&#xe642;</i>修改
        </button>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
  //
  layui.use('form', function(){
    var form = layui.form;
    form.on("select(goods_cate_id)",function () {
      var goods_cate_id = $("#goods_cate_id").val();
      $.ajax({
        type: "POST",
        url: "{:url('/goods/goodslist')}",
        data: {goods_cate_id: goods_cate_id},
        success: function (res) {
          var res = JSON.parse(res);
          if (res.code == 200) {
            console.log(res.data);
            $("#goods_id").empty();
            for (i = 0; i < res.data.length; i++) {
            var html = "<option value='"+res.data[i].goods_id+"'>"+res.data[i].goods_name+"</option>";
              $("#goods_id").append(html);
            }
            form.render("select");
          } else {
            layer.msg(res.msg, {icon: 2, time: 1500});
          }
        }
      });
    })
  });


  //验证表单
  function validateForm() {
    var goods_id = $("#goods_id").val();
    if(!goods_id){
      layer.msg('请选择商品', {icon: 6,time:1500});
      return false;
    }else {
      return {goods_id:goods_id};
    }
  }

  //提交数据
  function submitForm(){
    var data = validateForm();
    if (!data) return;
    $.ajax({
      type:'POST',
      url:"{:url('/goodshot/upadte')}?id={$goods_hot.goods_hot_id}",
      data:data,
      success:function (res) {
        var res = JSON.parse(res);
        if(res.code === 200){
          layer.msg(res.msg,{icon:1,time:1000});
          setTimeout("parent.location.reload();",1500);
        }else {
          layer.msg(res.msg,{icon:2,time:1000});
        }
      }
    });
  };
</script>

{/block}